<a href="https://colab.research.google.com/github/alexmal2804/hwds/blob/master/course_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Курсовая работа 
## Исследование измерений краниального и постраниального скелетов с целью определения возрастной, рассовой и половой принадлежности человека

Исследование данных замеров краниального и посткраниального скелета из базы данных, составленной в ходе судебно-медицинских дел США с целью определить половую, рассовую и возрастную принадлежность индивида. Для формирования и обучения модели необходимо подготовить данные (датасет объединен из нескольких таблиц разного формата, данные содержат большое число пропусков, несбалансированные), а затем применить методы логистической регрессии, KNN и взвешенной лог. регрессии для определения пола, рассового и возрастного состава выборки соответственно.
Также попытаюсь решить задачу кластеризации групп измерений, используя метод кластеризации (DBSCAN).

Задача исследования замеров скелета интересна с академической точки зрения и позволяет осуществлять исследования в антропологии (в т.ч. в медицине и палеоантрополгии). 
Также исследование данных и аналогичных замеров  может быть использовано в рамках задачи формирования компьютерных изображений и в рамках идентификации индивида.

##Описание входного DataSet
https://www.icpsr.umich.edu/web/NACJD/studies/2581/versions/V1#

Database for Forensic Anthropology in the United States, 1962-1991 (ICPSR 2581)

Этот проект был осуществлен с целью создания компьютеризированной скелетной базы данных, составленной в ходе судебно-медицинских дел, чтобы отразить нынешнее этническое разнообразие и демографическую структуру населения Соединенных Штатов. Цель состояла в том, чтобы накопить скелетную выборку, достаточно разнообразную, чтобы отразить различные социально-экономические группы населения в целом из разных географических регионов страны, чтобы исследователи могли разработать стандарты, используемые для скелетной идентификации.

In [228]:
# Импорт необходимых для работы модулей
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LogisticRegression as LR
from sklearn.feature_extraction import DictVectorizer as DV
from sklearn.model_selection import train_test_split
import matplotlib
from matplotlib import pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

##Загружаем DataSet
Используемый набор данных на ресурсе был представлен в виде 7  DataSet в формате "stata". Данные в датасетах были связаны первичным ключом 'FDN'. Необходимые для анализа данные были предварительно объединены в R-Studio и импортированы в csv.

In [229]:
# загружаем csv с данными в colab
# from google.colab import files
# uploaded = files.upload()

In [230]:
 # df = pd.read_csv('https://github.com/alexmal2804/hwds/blob/master/res_data_1.csv', delimiter=';')

In [231]:
 # Импортируем в DataFrame
 df = pd.read_csv('/content/sample_data/res_data_1.csv', delimiter=';')

In [232]:
df.head()

   FDN  CONTRIB CURATOR RECORDER  ... CALCXL_L  CALCXL_R CALCBR_L CALCBR_R
0    1   LA84-7     LSU    BLANK  ...      NaN       NaN      NaN      NaN
1    2   LA85-7     LSU    BLANK  ...     84.0      85.0     47.0     46.0
2    3  LA84-10     LSU    BLANK  ...     91.0      91.0     46.0     46.0
3    4  LA84-12     LSU    BLANK  ...      NaN       NaN      NaN      NaN
4    5   LA85-1     LSU    BLANK  ...     79.0      82.0     38.0     39.0

[5 rows x 142 columns]

In [233]:
# По максимальному и минимальному предполагаемому возрасту найдем среднее значение из добавим его как столбец в датасет
df['MEANAGE'] = (df['UPPERAGE'] + df['LOWERAGE'])/2
df['MEANAGE']

0       33.0
1       28.5
2       33.5
3       35.0
4       29.0
        ...
1509    12.0
1510    99.0
1511    58.0
1512    31.0
1513    28.0
Name: MEANAGE, Length: 1514, dtype: float64

In [234]:
# размер DataFrame
df.shape

(1514, 143)

In [235]:
# описательная статистика
df.describe()

               FDN       IDSTAT  ...    CALCBR_R      MEANAGE
count  1514.000000  1509.000000  ...  304.000000  1514.000000
mean    757.802510     1.571902  ...   42.736842    46.342140
std     437.707694     0.773161  ...    4.235224    27.939763
min       1.000000     1.000000  ...   22.000000    -8.000000
25%     379.250000     1.000000  ...   40.000000    25.000000
50%     757.500000     1.000000  ...   43.000000    37.500000
75%    1135.750000     2.000000  ...   45.000000    63.875000
max    1523.000000     3.000000  ...   58.000000    99.000000

[8 rows x 130 columns]

##Постановка задачи
Необходимо, используя алгоритмы кластеризации обучить модель определить по данным краниальных и посткраниальных измерений пол, рассовую принадлежность и возрастную группу человека.

##Подготовка данных
Т.к. нам нужны не все столбцы в представленном DataSet, а только результаты измерений на которых будем обучать модель и категориальные столбцы со значением целевой функции - удалим те, которые не будут использоваться:

In [236]:
# Удаляем неиспользуемые столбцы оставля только те, которые будут использоваться в моделях кластеризации
df_drop_cols = df.drop(columns=[ 'MEANAGE', 'FDN', 'CONTRIB', 'CURATOR', 'RECORDER', 'DATEREC', 'IDSTAT', 'SEXSTAT', 'RACESTAT', 'ETHNIC', 'DOB_MODA', 'DOB_YR', 'DEATHAGE', 'LOWERAGE', 'UPPERAGE', 'FSTATURE', 'CSTATURE', 'FWEIGHT', 'CWEIGHT','DATPOSID'])
df_drop_cols.head()

  SEX RACE AGEGROUP    GOL  ...  CALCXL_L  CALCXL_R  CALCBR_L  CALCBR_R
0   F    B        A  171.0  ...       NaN       NaN       NaN       NaN
1   M    B        A  185.0  ...      84.0      85.0      47.0      46.0
2   M    W        A  172.0  ...      91.0      91.0      46.0      46.0
3   F    W        A  185.0  ...       NaN       NaN       NaN       NaN
4   F    B        A    NaN  ...      79.0      82.0      38.0      39.0

[5 rows x 123 columns]

Мы видим, что в DataSet довольно много пустых значений в ячейках с замерами. Это объясняется тем, что датасет является результатом оцифровывания сделанных вручную записей за период с 1962 по 1991 год, источником которых были фрагментарные данные. 
Т.к. строки в которых отсутствуют замеры или кол-во замеров невелико, несут мало информации - удаляем из датасета те записи, где количество незаполненных измерений  больше $\frac{2}{3}$ от общего числа замеров.

In [237]:
# Подключаем класс для предобработки данных
from sklearn import preprocessing

# Напишем функцию, которая принимает на вход DataFrame, осуществляет подсчет None в числовых полях и удаляет те строки,
# где кол-во ячеек  в полях numberic больше 2/3
def drop_null_records(input_df):
    result = input_df.copy() # копируем нашу исходную таблицу
    # определим общее число измерений в DataFrame
    numberic_cols = result._get_numeric_data().columns
    print(f'Количество измерений в исходном DataFrame: {len(numberic_cols)}')
    # print(numberic_cols)
    # подсчитаем число None в каждой строке и оставим только те, где релевантные данные составляют больше 2/3
    result['def_measure'] = df[numberic_cols].count(axis=1)
    result = result[result['def_measure']>= 40]
    result = result.drop('def_measure', axis = 1)
    return result

In [238]:
# Удаляем строки с малым числом измерений в нашем датафрейме
df_without_null = drop_null_records(df_drop_cols)

Количество измерений в исходном DataFrame: 120

В оставшихся записях заполним пустые значения средним по столбцу

In [239]:
df_without_null.fillna(df_without_null.mean(), inplace=True)

In [240]:
# Удалим строки с NaN в столбцах, которые будем использовать в качестве целевой функции
df_without_null = df_without_null.dropna(axis=0)

In [241]:
# Размер DataFrame без удаленных записей
df_without_null.shape

(777, 123)

In [242]:
# Выведем DataFrame без None
df_without_null.head()

  SEX RACE AGEGROUP         GOL  ...   CALCXL_L   CALCXL_R   CALCBR_L   CALCBR_R
0   F    B        A  171.000000  ...  82.256659  82.296392  42.546032  42.728188
1   M    B        A  185.000000  ...  84.000000  85.000000  47.000000  46.000000
2   M    W        A  172.000000  ...  91.000000  91.000000  46.000000  46.000000
4   F    B        A  182.699588  ...  79.000000  82.000000  38.000000  39.000000
7   F    W        A  177.000000  ...  80.000000  81.000000  40.000000  41.000000

[5 rows x 123 columns]

## Преобразование категориальных признаков

In [243]:
# Подключаем класс для предобработки данных
from sklearn import preprocessing

# Используем функцию, которая принимает на вход DataFrame, кодирует числовыми значениями категориальные признаки
# и возвращает обновленный DataFrame и сами кодировщики.
def number_encode_features(input_df):
    result = input_df.copy() # копируем нашу исходную таблицу
    encoders = {}
    for column in result.columns:
        if result.dtypes[column] == np.object: # np.object -- строковый тип / если тип столбца - строка, то нужно его закодировать
            encoders[column] = preprocessing.LabelEncoder() # для колонки column создаем кодировщик
            result[column] = encoders[column].fit_transform(result[column]) # применяем кодировщик к столбцу и перезаписываем столбец
    return result, encoders

df_encoded, encoders = number_encode_features(df_without_null) # Теперь encoded data содержит закодированные кат. признаки 
df_encoded.head()

   SEX  RACE  AGEGROUP         GOL  ...   CALCXL_L   CALCXL_R   CALCBR_L   CALCBR_R
0    0     1         0  171.000000  ...  82.256659  82.296392  42.546032  42.728188
1    1     1         0  185.000000  ...  84.000000  85.000000  47.000000  46.000000
2    1     5         0  172.000000  ...  91.000000  91.000000  46.000000  46.000000
4    0     1         0  182.699588  ...  79.000000  82.000000  38.000000  39.000000
7    0     5         0  177.000000  ...  80.000000  81.000000  40.000000  41.000000

[5 rows x 123 columns]

In [244]:
# Выведем соответствие числовых значений закодированным
encoders['SEX'].inverse_transform([0, 1])

array(['F', 'M'], dtype=object)

In [245]:
encoders['RACE'].inverse_transform([0, 1, 2, 3, 4 , 5])

array(['A', 'B', 'C', 'H', 'M', 'W'], dtype=object)

In [246]:
encoders['AGEGROUP'].inverse_transform([0, 1, 2, 3, 4])

array(['A', 'C', 'F', 'I', 'S'], dtype=object)

## Удалим коррелирующие данные

In [247]:
# Построим матрицу корреляции
corr = df_encoded.corr()
corr.head()

               SEX      RACE  AGEGROUP  ...  CALCXL_R  CALCBR_L  CALCBR_R
SEX       1.000000 -0.000764 -0.172142  ...  0.380299  0.347226  0.336694
RACE     -0.000764  1.000000  0.029144  ...  0.039838 -0.016851 -0.022004
AGEGROUP -0.172142  0.029144  1.000000  ... -0.112023 -0.122313 -0.077679
GOL       0.464421 -0.002393 -0.190555  ...  0.307179  0.225555  0.250006
BNL       0.455127  0.146547 -0.105026  ...  0.369193  0.225135  0.253291

[5 rows x 123 columns]

In [248]:
# Найдем столбцы сильно коррелирующие между собой (коэффициент корреляции Пирсона > 0.9)
r = corr.stack()[(abs(corr.stack()) > 0.9) & (corr.stack() != 1.0)]

In [249]:
print(r)

RADXLN_L  ULNXLN_L    0.926443
ULNXLN_L  RADXLN_L    0.926443
FEMXLN_L  TIBXLN_L    0.903181
TIBXLN_L  FEMXLN_L    0.903181
TIBXLN_R  FIBXLN_R    0.906980
FIBXLN_R  TIBXLN_R    0.906980
dtype: float64

In [250]:
# Удалим столбцы с высоким коэффициентом корреляции 
df_encoded = df_encoded.drop(columns=['RADXLN_L', 'FEMXLN_L', 'FIBXLN_R'])

In [251]:
df_encoded.shape

(777, 120)

##Распределение величин по признакам

In [252]:
# График распределения величин по признакам
def ditstrib_features(df, cols=5, a = 5, b = 5, rot = "vertical", s = ""):
  fig = plt.figure(figsize=(a,b))
  input_df = pd.DataFrame(df)
  rows = np.ceil(float(input_df.shape[1]) / cols)
  for i, column in enumerate(input_df.columns):
      ax = fig.add_subplot(rows, cols, i + 1)
      ax.set_title(column + " " + str(s))
      input_df[column].hist(axes=ax)
      plt.xticks(rotation=rot)
  plt.subplots_adjust(hspace=0.5, wspace=0.2)

In [ ]:
# строим распределение по всем данным из DataSet
ditstrib_features(df_encoded, 9, 100, 250)

На большей части графиков видим распределение близкое к нормальному.

## Логистическая регрессия для определения пола
Применим алгоритм логистической регресии из библиотеки scikit-learn для обучения модели определять пол по данным измерений

Удалим неиспользуемые на этом этапе категориальные признаки

In [ ]:
df_research_1 =  df_encoded.drop(columns=['RACE', 'AGEGROUP'])

Веделим целевую функцию в отдельную переменную

In [ ]:
y = np.array(df_research_1['SEX'])

Проверим, сбалансированы ли классы в целевой функции

In [ ]:
sns.countplot(x='SEX', data=df_research_1)
print(df_research_1['SEX'].value_counts())


Оставим данные без балансировки

Осуществим нормализацию данных

In [ ]:
# Преобразуем DataFrame в формат для обучения модели (np.array)
df_research_1.drop(columns='SEX')
X = np.array(df_research_1)
X

In [ ]:
# Масштабируем признаки
from sklearn.preprocessing import scale
X_norm = scale(X)
X_norm

In [ ]:
# Разобъем выборку на тестовую и тренировочную
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.15, random_state=42)

Обучаем логистическу регрессию

In [ ]:
# Импортируем необходимые модули
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

# Зададим сетку - среди каких значений выбирать наилучший параметр.
param_grid = {'C': [0.01, 0.05, 0.1, 0.5, 1, 5, 10, 100]}
# Тип оценки
estimator_l = LogisticRegression()

# Создаем объект для обучения
gs_logistic = GridSearchCV(estimator_l,
                  param_grid,
                  cv=3)

# Обучаем его
gs_logistic.fit(X_train, y_train)

In [ ]:
# Отобразим результаты обучения
print(gs_logistic.best_score_)
print(gs_logistic.best_params_)
print(gs_logistic.best_estimator_)

Строим график оценок точности и их стандартных
 отклонений

In [ ]:
# Используем функцию построения графика точности и их стандартного отклонения
def plot_scores(optimizer):
    scores=[]
    for i in range(len(optimizer.cv_results_['params'])):
        scores.append([optimizer.cv_results_['params'][i]['C'], 
                optimizer.cv_results_['mean_test_score'][i],
                optimizer.cv_results_['std_test_score'][i]])
    scores = np.array(scores)
    plt.semilogx(scores[:,0], scores[:,1])
    plt.fill_between(scores[:,0], scores[:,1]-scores[:,2], 
                                  scores[:,1]+scores[:,2], alpha=0.3)
    plt.show()

In [ ]:
plot_scores(gs_logistic)

Протестируем обученную модель и применим различные метрики оценки точности модели

In [ ]:
# Выполним предсказание на тестовом наборе данных 
preds_logistic = gs_logistic.predict(X_test)
preds_logistic

In [ ]:
y_test

In [ ]:
# Отобразим метрику R^2 (наилучшее возможное значение 1.0)
metrics.r2_score(y_test, preds_logistic)

In [ ]:
# Отобразим метрику MAE (наилучшее возможное значение 0.0)
metrics.median_absolute_error(y_test, preds_logistic)

In [ ]:
# Отобразим метрику ROC AUC
predict_proba = gs_logistic.predict_proba(X_test)[:, 1]
AUC_1 = roc_auc_score(y_test, predict_proba)
AUC_1

In [ ]:
# Построим confusion matrix
fig = plt.figure(figsize=(8,8))
nn_mtx = metrics.confusion_matrix(y_test, preds_logistic)
print(nn_mtx)
font = {'weight' : 'bold', 'size'   :22}
matplotlib.rc('font', **font)
matplotlib.rc('xtick', labelsize=20) 
matplotlib.rc('ytick', labelsize=20) 
sns.heatmap(nn_mtx, annot=True, fmt="d", 
            xticklabels=encoders["SEX"].classes_, 
            yticklabels=encoders["SEX"].classes_)
plt.ylabel("Real value")
plt.xlabel("Predicted value")

In [ ]:
# Используем classification_report
print(metrics.classification_report(y_test, preds_logistic))

In [ ]:
# Используем метрику Accuracy
metrics.accuracy_score(y_test, preds_logistic)

##Метод k ближайших соседей при определении принадлежности к расе

In [ ]:
# Выведем соответствие числовых данных закодированным для признака:
encoders['RACE'].inverse_transform([0, 1, 2, 3, 4 , 5])

In [ ]:
# Удалим неиспользуемые на этом этапе категориальные признаки
df_research_2 =  df_encoded.drop(columns=['SEX', 'AGEGROUP'])

# Выделим целевую функцию в отдельную переменную
y = np.array(df_research_2['RACE'])

# Проверим, сбалансированы ли классы в целевой функции
sns.countplot(x='RACE', data=df_research_2)
print(df_research_2['RACE'].value_counts())

In [ ]:
# Изменим строки со значениями целевой функции равными 3, 4, 0 и 2, т.к. обучение  модели на такой маленькой в разрезе значения функции выборке не даст необходимого результата
df_research_2 = df_research_2[df_research_2['RACE'] != 2]
# Заменим значение с малым числом вхождений на одно. 
# В итоге в целевой функции будет три значения, которые будут интерпретироваться как "Black", "White" и "Other"
df_research_2.loc[df_research_2['RACE'] == 3 ] = 0
df_research_2.loc[df_research_2['RACE'] == 4 ] = 0 
df_research_2.loc[df_research_2['RACE'] == 2 ] = 0 
# Посмотрим еще раз на распределение признаков
sns.countplot(x='RACE', data=df_research_2)
print(df_research_2['RACE'].value_counts())

Данные несбалансированы, поэтому будем использовать для их балансировки метод SMOTE, который  использует oversampling

In [ ]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state = 2, k_neighbors=7)

In [ ]:
# Выделим целевую функцию в отдельную переменную
y_1 = np.array(df_research_2['RACE'])

In [ ]:
# Преобразуем DataFrame в формат для обучения модели (np.array)
df_research_2.drop(columns='RACE')
X = np.array(df_research_2)
# Масштабируем признаки
from sklearn.preprocessing import scale
X_norm = scale(X)
X_norm

In [ ]:
# Разобъем выборку на тестовую и тренировочную
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y_1, test_size=0.15, random_state=42)

In [ ]:
# Осуществляем oversampling с использованием SMOTE
X_sm, y_sm = sm.fit_resample(X_train, y_train)
y_sm

Используем кросс-валидацию

In [ ]:
# Будем использовать модель k ближайших соседей
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
# В sklearn есть специальный модуль для работы с кросс-валидацией
from sklearn.model_selection import GridSearchCV

# Зададим сетку - среди каких значений выбирать наилучший параметр.
knn_grid = {'n_neighbors': np.array(np.linspace(1, 100, 100), dtype='int')} # перебираем по параметру <<n_neighbors>> по сетке 

# Создаем объект кросс-валидации
gs = GridSearchCV(knn, knn_grid, cv=5)

# Обучаем его
gs.fit(X_sm, y_sm)

In [ ]:
# best_params_ содержит в себе лучшие подобранные параметры, best_score_ лучшее качество
gs.best_params_, gs.best_score_

In [ ]:
# импортируем и создаем knn классификатор
knn = KNeighborsClassifier(n_neighbors=gs.best_params_['n_neighbors']) 
# тренируем для knn
clf_knn = knn.fit(X_sm, y_sm)
# получаем предсказание на тестовых данных
y_knn = clf_knn.predict(X_test)

Для оценки точности модели используем метрику classification report

In [ ]:
print(metrics.classification_report(y_test, y_knn))

Построим confusion matrix

In [ ]:
# Построим confusion matrix
fig = plt.figure(figsize=(8,8))
nn_mtx = metrics.confusion_matrix(y_test, y_knn)
print(nn_mtx)
font = {'weight' : 'bold', 'size'   :22}
matplotlib.rc('font', **font)
matplotlib.rc('xtick', labelsize=20) 
matplotlib.rc('ytick', labelsize=20) 
sns.heatmap(nn_mtx, annot=True, fmt="d", 
            xticklabels=encoders["RACE"].classes_[[0, 1, 5]], 
            yticklabels=encoders["RACE"].classes_[[0, 1, 5]])
plt.ylabel("Real value")
plt.xlabel("Predicted value")

In [ ]:
# Используем метрику Accuracy
metrics.accuracy_score(y_test, y_knn)

##Взвешенная логистическая регрессия при определении принадлежности к возрастной группе

In [ ]:
# Выведем соответствие числовых данных закодированным для признака:
encoders['AGEGROUP'].inverse_transform([0, 1, 2, 3, 4])

In [ ]:
# Удалим неиспользуемые на этом этапе категориальные признаки
df_research_3 =  df_encoded.drop(columns=['SEX', 'RACE'])


# Проверим, сбалансированы ли классы в целевой функции
sns.countplot(x='AGEGROUP', data=df_research_3)
print(df_research_3['AGEGROUP'].value_counts())

Данные несбалансированы, поэтому будем использовать для их балансировки *sklearn.linear_model.LogisticRegression* с параметром *class_weight = 'balanced'*.

*'balanced'* - это  режим, который  осуществляет автоматическую настройков весов по числу вхождений значений целевой функции для класса, отнесенному к  частотам классов во входных данных: $\frac{n\_samples}{n\_classes \cdot np.bincount (y)}$, где $np.bincount (y)$ - функция из библиотеки *numpy*, которая возвращает количество вхождений значения в массив.

In [ ]:
# Изменим строки со значениями целевой функции равными 1, 2,  и 3, т.к. обучить модель на такой маленькой в разрезе значения функции выборке невозможно
# Заменим значение с малым числом вхождений на одно. 
# В итоге в целевой функции будет три значения, которые будут интерпретироваться как "A", "S" и "C"
df_research_3.loc[df_research_3['AGEGROUP'] == 2 ] = 1
df_research_3.loc[df_research_3['AGEGROUP'] == 3 ] = 1
# Посмотрим еще раз на распределение признаков
sns.countplot(x='AGEGROUP', data=df_research_3)
print(df_research_3['AGEGROUP'].value_counts())

In [ ]:
# Выделим целевую функцию в отдельную переменную
y_2 = np.array(df_research_3['AGEGROUP'])

In [ ]:
# Преобразуем DataFrame в формат для обучения модели (np.array)
df_research_3.drop(columns='AGEGROUP')
X = np.array(df_research_3)
# Масштабируем признаки
from sklearn.preprocessing import scale
X_norm = scale(X)
X_norm

In [ ]:
# Разобъем выборку на тестовую и тренировочную
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y_2, test_size=0.15, random_state=42)

Создадим модель логистической регрессии с балансировкой по классам и обучим её

In [ ]:
# Зададим сетку - среди каких значений выбирать наилучший параметр.
param_grid = {'C': [0.001, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 100, 1000]}
# Тип оценки
estimator_lb = LogisticRegression(class_weight='balanced')

# Создаем объект для обучения
gs_logistic_balanced = GridSearchCV(estimator_lb,
                  param_grid,
                  cv=3)

# Обучаем его
gs_logistic_balanced.fit(X_train, y_train)

Строим график оценок точности и их стандартных
 отклонений

In [ ]:
plot_scores(gs_logistic_balanced)

Протестируем обученную модель и применим различные метрики оценки точности модели

In [ ]:
# Выполним предсказание на тестовом наборе данных 
preds_logistic_balanced = gs_logistic_balanced.predict(X_test)
preds_logistic_balanced

In [ ]:
# Используем classification_report
print(metrics.classification_report(y_test, preds_logistic_balanced))

In [ ]:
# Построим confusion matrix
fig = plt.figure(figsize=(8,8))
nn_mtx = metrics.confusion_matrix(y_test, preds_logistic_balanced)
print(nn_mtx)
font = {'weight' : 'bold', 'size'   :22}
matplotlib.rc('font', **font)
matplotlib.rc('xtick', labelsize=20) 
matplotlib.rc('ytick', labelsize=20) 
sns.heatmap(nn_mtx, annot=True, fmt="d", 
            xticklabels=encoders["AGEGROUP"].classes_[[0,1,4]], 
            yticklabels=encoders["AGEGROUP"].classes_[[0,1,4]])
plt.ylabel("Real value")
plt.xlabel("Predicted value")

In [ ]:
# Используем метрику Accuracy
metrics.accuracy_score(y_test, preds_logistic_balanced)

##Определим возраст методом gradient boosting с использованием библиотеки CatBost

Установим CatBoost

In [ ]:
!pip install catboost

In [ ]:
# Импорт модулей необходимых для модели
from numpy import mean
from numpy import std
from catboost import CatBoostRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
# Создание и обучение модели вынесем в отдельную функцию
def CatBoostModel(X, y):
  # Создаем модель
  model = CatBoostRegressor(verbose=0, n_estimators=100)
  cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
  n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
  print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))
  # Обучаем модель
  model = CatBoostRegressor(verbose=0, n_estimators=100)
  model.fit(X, y)

Подготовим наш датасет для обучения и тестирования модели

Для этого удалим из датасета со средним возрастом (целевая функция) категориальные признаки, оставив только измерения краниального и посткраниального скелета. 

Удалим записи с большим числом незаполненых измерений и заменим средними значениями остальные ячейки с None.

In [ ]:
# Удаляем неиспользуемые столбцы оставля только те, которые будут использоваться в моделях кластеризации
df_drop_cols = df.drop(columns=[ 'AGE', 'RACE', 'SEX' 'FDN', 'CONTRIB', 'CURATOR', 'RECORDER', 'DATEREC', 'IDSTAT', 'SEXSTAT', 'RACESTAT', 'ETHNIC', 'DOB_MODA', 'DOB_YR', 'DEATHAGE', 'LOWERAGE', 'UPPERAGE', 'FSTATURE', 'CSTATURE', 'FWEIGHT', 'CWEIGHT','DATPOSID'])
# Удаляем строки с малым числом измерений в нашем датафрейме
df_without_null = drop_null_records(df_drop_cols)