<a href="https://colab.research.google.com/github/alexmal2804/hwds/blob/master/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%BE%D0%B5_%D0%94%D0%97_2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://colab.research.google.com/drive/1DT_wHsOol2C-iyH0GsO3A6xBrfFRQfqY?usp=sharing

<h2 style="text-align: center;"><b>Большое домашнее задание 2. Участие в соревнованиях на Kaggle. Работа с нерепрезентативными данными.
</b></h2>

ДЗ в колабе: https://colab.research.google.com/drive/18Hi97eESCrXYht-7SIoj_19pwcZhl17Y?usp=sharing

В этом домашнем задании нам нужно применить в реальном соревновании накопленные знания по машинному обучению и анализу данных!

- Нужно будет провести предобработку [данных с Kaggle](https://www.kaggle.com/sid321axn/thoraric-surgery). Затем нужно будет предсказать колонку DGN (диагноз). Это задача классификации. 
- Описание датасета (что значит признаки): https://archive.ics.uci.edu/ml/datasets/Thoracic+Surgery+Data 
- Не забудьте провести анализ данных перед тем, как применять ML-модели! Вам нужно сначала понять, с чем Вы имеете дело, поискать зависимости в данных, понять природу этих зависимостей, и только после этого уже подбирать алгоритмы. Данные с подвохом! Внимательно смотрите на распределения признаков в каждом из классов!
- В качестве основы можно использовать наработки с занятий. Необходимо попробовать сделать аугментацию данных, т.к. данных очень мало, для обучения содержательных моделей их не хватит.
- Попробуйте kNN, логистическую регрессию, SVM. Поэкспериментируйте с добавлением композитных признаков (например, полиномиальных), выбором ядра (для SVM). Подберите гиперпараметры по кросс-валидации (GridSearchCV или RandomSearchCV, второй вариант предпочтительнее).  
- Достичь идеального качества Вам не удастся, да и гнаться за этим не стоит. Гораздо важнее провести вдумчивый анализ и показать, что Вы разобрались в теме.

**Правила:**

- **Дедлайн один:** 29 января 23:59. Решения, отправленные позже, проверяться не будут, кроме случаев наличия уважительной причины.



Решения, размещенные на каких-либо интернет-ресурсах, не принимаются.
 При написании кода придерживайтесь `pep8` и используйте `type hints`.

**После жесткого дедлайна задания не принимаются. Так как дальше будет работа только над проектом**

In [1]:
# Импорт необходимых для работы модулей
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LogisticRegression as LR
from sklearn.feature_extraction import DictVectorizer as DV
from sklearn.model_selection import train_test_split
import matplotlib
from matplotlib import pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

##Импортируем DataSet и проведем его предварительный анализ

In [3]:
 # Импортируем в DataFrame
 df = pd.read_csv('/content/sample_data/ThoraricSurgery.csv')

In [4]:
df.head()

   id   DGN  PRE4  PRE5  PRE6 PRE7  ... PRE19 PRE25 PRE30 PRE32 AGE Risk1Yr
0   1  DGN2  2.88  2.16  PRZ1    F  ...     F     F     T     F  60       F
1   2  DGN3  3.40  1.88  PRZ0    F  ...     F     F     T     F  51       F
2   3  DGN3  2.76  2.08  PRZ1    F  ...     F     F     T     F  59       F
3   4  DGN3  3.68  3.04  PRZ0    F  ...     F     F     F     F  54       F
4   5  DGN3  2.44  0.96  PRZ2    F  ...     F     F     T     F  73       T

[5 rows x 18 columns]

In [7]:
# Определим размер DataFrame
df.shape

(470, 18)

In [8]:
# Проверим на пропуски в данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       470 non-null    int64
 1   DGN      470 non-null    object
 2   PRE4     470 non-null    float64
 3   PRE5     470 non-null    float64
 4   PRE6     470 non-null    object
 5   PRE7     470 non-null    object
 6   PRE8     470 non-null    object
 7   PRE9     470 non-null    object
 8   PRE10    470 non-null    object
 9   PRE11    470 non-null    object
 10  PRE14    470 non-null    object
 11  PRE17    470 non-null    object
 12  PRE19    470 non-null    object
 13  PRE25    470 non-null    object
 14  PRE30    470 non-null    object
 15  PRE32    470 non-null    object
 16  AGE      470 non-null    int64
 17  Risk1Yr  470 non-null    object
dtypes: float64(2), int64(2), object(14)
memory usage: 66.2+ KB

Пропусков нет

In [9]:
# Выведем описательную статистику
df.describe()

               id        PRE4        PRE5         AGE
count  470.000000  470.000000  470.000000  470.000000
mean   235.500000    3.281638    4.568702   62.534043
std    135.821574    0.871395   11.767857    8.706902
min      1.000000    1.440000    0.960000   21.000000
25%    118.250000    2.600000    1.960000   57.000000
50%    235.500000    3.160000    2.400000   62.000000
75%    352.750000    3.807500    3.080000   69.000000
max    470.000000    6.300000   86.300000   87.000000

##Осуществим предобработку данных